@import 'css/team.css';
body{
	background-color: #833778;
}

#navbar{
	font-size: 2em;
}
ul{
	list-style-type: none;
	text-align: right;
	margin: 2em;


}


li{
	display: inline;
	padding: 1em;
}

li a{
	text-decoration: none;
	color: white;
	

}

li a:hover{
	color: yellow;
	font-size: 1.2em;
	color: yellow;
	transition: .5s;
	
}



